{
  "openapi": "3.0.0",
  "info": {
    "title": "JuJu API",
    "description": "Public and partner-facing endpoints for the JuJu jobs platform. Covers job search, click attribution, publisher API integration, and the consumer/admin/sponsor/publisher portals.",
    "contact": {
      "name": "JuJu Engineering",
      "email": "engineering@juju.com"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.juju.com",
      "description": "Publisher B2B API (external partners, api_auth Bearer keys)"
    },
    {
      "url": "https://webapi.juju.com",
      "description": "Consumer Web API (SPA backend, hmac:webapi)"
    },
    {
      "url": "https://adminapi.juju.com",
      "description": "Admin API (hmac:admin + session)"
    },
    {
      "url": "https://sponsorapi.juju.com",
      "description": "Sponsor Portal API (hmac:sponsor + session)"
    },
    {
      "url": "https://publisherapi.juju.com",
      "description": "Publisher Portal API (hmac:publisher + session)"
    }
  ],
  "paths": {
    "/admin/v1/admin-users": {
      "get": {
        "tags": [
          "Admin User"
        ],
        "summary": "Admin User - List",
        "operationId": "058ac7fc1836de4220c52d11f0b9824f",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Substring against username or email.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "active",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "role",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "username",
                "first_name",
                "last_name",
                "email",
                "role",
                "date_created",
                "date_last_login",
                "active"
              ]
            }
          },
          {
            "name": "direction",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "desc",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated admin-user list.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/JsonEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/AdminUser"
                          }
                        },
                        "meta": {
                          "$ref": "#/components/schemas/PaginationMeta"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Admin User"
        ],
        "summary": "Admin User - Create",
        "description": "Body: username*, password*, email*, first_name, last_name, phone (optional; E.164-normalized), role (default 'admin'). Password minimum 12 chars.",
        "operationId": "cd0a8e85ac03b7081c568d18da71625b",
        "responses": {
          "201": {
            "description": "Created admin user.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/JsonEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/AdminUser"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Username or email already taken.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Validation failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/admin-users/{id}": {
      "get": {
        "tags": [
          "Admin User"
        ],
        "summary": "Admin User - Detail",
        "operationId": "6ea6771df6f0edcbf9c4ac594088aa1c",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Admin-user detail.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/JsonEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/AdminUser"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonEnvelope"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Admin User"
        ],
        "summary": "Admin User - Deactivate",
        "description": "Sets active=false. Row survives for audit continuity; user's next login attempt returns 401 (partial-unique-on-username-active lets a fresh admin re-register the username if needed).",
        "operationId": "b04621206492319c53da37757ac32988",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deactivated admin user.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/JsonEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/AdminUser"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Admin User"
        ],
        "summary": "Admin User - Update",
        "description": "Partial update (non-secret fields). Mutable: first_name, last_name, role, phone (E.164 normalized), email (resolves to juju.email artifact). Username is immutable (audit-log continuity). Password uses /reset-password.",
        "operationId": "84cafd5831e8d859e1bd7f2068e0223e",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated admin user.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/JsonEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/AdminUser"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Validation failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/admin-users/{id}/reset-password": {
      "post": {
        "tags": [
          "Admin User"
        ],
        "summary": "Admin User - Reset Password",
        "description": "Admin sets the password out-of-band and communicates it to the user directly (until email-based reset flows land). Body: password* (min 12 chars). Returns 200 with {reset: true} — envelope-consistent rather than the RFC-canonical 204 No Content.",
        "operationId": "60341963e8c5cd5ab957ef71f181a457",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Password reset succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/JsonEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "properties": {
                            "reset": {
                              "type": "boolean",
                              "example": true
                            }
                          },
                          "type": "object"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Password too short.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Auth - Login",
        "description": "Body: {username, password}. Success mints an admin-audience JWT (8h TTL default), sets it as an httpOnly + SameSite=Lax cookie, stamps date_last_login on the admin_user row, and returns the admin's public profile. Failures return 401 with a generic \"Invalid credentials.\" message — same response for unknown username and wrong password to avoid user enumeration.",
        "operationId": "7ee1413dc042ab5c693f52fa5f4bf3ea",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "username",
                  "password"
                ],
                "properties": {
                  "username": {
                    "type": "string",
                    "example": "brooke",
                    "maxLength": 64
                  },
                  "password": {
                    "type": "string",
                    "example": "correct-horse-battery-staple"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login succeeded. Session cookie set on response.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/JsonEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "properties": {
                            "user_id": {
                              "type": "integer",
                              "format": "int64"
                            },
                            "username": {
                              "type": "string"
                            },
                            "first_name": {
                              "type": "string",
                              "nullable": true
                            },
                            "last_name": {
                              "type": "string",
                              "nullable": true
                            },
                            "email": {
                              "type": "string",
                              "format": "email"
                            },
                            "role": {
                              "type": "string",
                              "example": "admin"
                            },
                            "date_last_login": {
                              "type": "string",
                              "format": "date-time",
                              "nullable": true
                            }
                          },
                          "type": "object"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Wrong credentials. Same body for unknown username and wrong password.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate-limited (admin `login` bucket: 10/min/IP).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/auth/logout": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Auth - Logout",
        "description": "Sets the session cookie to empty with immediate expiry. Stateless JWTs — no server-side session row to destroy; if the client presents the old cookie value on a subsequent request the SessionAuth filter rejects it once the JWT expiry passes. Idempotent — always returns 200.",
        "operationId": "0563d69f53a314b132442bb24375e65f",
        "responses": {
          "200": {
            "description": "Cookie cleared (idempotent).",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/JsonEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "properties": {
                            "logged_out": {
                              "type": "boolean",
                              "example": true
                            }
                          },
                          "type": "object"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/billing/adjustments": {
      "get": {
        "tags": [
          "Adjustment"
        ],
        "summary": "Adjustment - List",
        "operationId": "e978b3b5950e73cc0d177679ef8d0ae1",
        "parameters": [
          {
            "name": "account_type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "sponsor",
                "publisher"
              ]
            }
          },
          {
            "name": "account_ref",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "applied",
                "void"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated adjustment list.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/JsonEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Adjustment"
                          }
                        },
                        "meta": {
                          "$ref": "#/components/schemas/PaginationMeta"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Adjustment"
        ],
        "summary": "Adjustment - Issue",
        "description": "Issue a pending credit/debit. Body: account_type* (sponsor|publisher), account_ref* (job_partner_id or publisher_id), direction* (credit|debit), amount* (>0), reason*. Applied to the next invoice/payout for that account.",
        "operationId": "281438f12b350d14e7c8c36566d78022",
        "responses": {
          "201": {
            "description": "Issued adjustment.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/JsonEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Adjustment"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/billing/invoices": {
      "get": {
        "tags": [
          "Invoice"
        ],
        "summary": "Invoice - List",
        "operationId": "5b2384e870a9cb2c0b12e4dccdc02578",
        "parameters": [
          {
            "name": "job_partner_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "open",
                "paid",
                "partially_paid",
                "void",
                "uncollectible"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "date_created",
                "issued_at",
                "due_at",
                "total",
                "status"
              ]
            }
          },
          {
            "name": "direction",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "desc",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated invoice list.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/JsonEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Invoice"
                          }
                        },
                        "meta": {
                          "$ref": "#/components/schemas/PaginationMeta"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/billing/invoices/{id}": {
      "get": {
        "tags": [
          "Invoice"
        ],
        "summary": "Invoice - Detail",
        "operationId": "a901c3c6ae52e73c9dbb4a32686b9a08",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice + line items + payments applied.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/JsonEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "allOf": [
                            {
                              "$ref": "#/components/schemas/Invoice"
                            },
                            {
                              "properties": {
                                "line_items": {
                                  "type": "array",
                                  "items": {
                                    "type": "object"
                                  }
                                },
                                "payments": {
                                  "type": "array",
                                  "items": {
                                    "$ref": "#/components/schemas/Payment"
                                  }
                                }
                              },
                              "type": "object"
                            }
                          ]
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/billing/invoices/{id}/issue": {
      "post": {
        "tags": [
          "Invoice"
        ],
        "summary": "Invoice - Issue",
        "description": "Draft → open: stamps issued_at/due_at and posts the sponsor ledger debit.",
        "operationId": "d588b5aa740801c89a7365127a96a71b",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Issued invoice.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/JsonEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Invoice"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Not a draft.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/billing/invoices/{id}/void": {
      "post": {
        "tags": [
          "Invoice"
        ],
        "summary": "Invoice - Void",
        "description": "Voids an unpaid invoice. A draft voids cleanly; an issued (open) invoice also posts a compensating sponsor ledger credit to reverse its debit. Invoices with any payment applied cannot be voided (refund first).",
        "operationId": "a5667481fccdedb0abf5aff98fe3d1ea",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Voided invoice.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/JsonEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Invoice"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Not voidable (paid / already void).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/billing/sponsors/{partner}/balance": {
      "get": {
        "tags": [
          "Invoice"
        ],
        "summary": "Invoice - Sponsor Balance",
        "description": "Sponsor AR balance from the ledger: Σ invoiced − Σ paid − Σ credits. Positive = owes us; negative = on-account credit.",
        "operationId": "656b20cbcb4892e1e6076a8d15f93ccd",
        "parameters": [
          {
            "name": "partner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Balance.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/JsonEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "properties": {
                            "job_partner_id": {
                              "type": "integer"
                            },
                            "balance": {
                              "type": "string",
                              "example": "4211.5500"
                            }
                          },
                          "type": "object"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/billing/payments": {
      "get": {
        "tags": [
          "Payment"
        ],
        "summary": "Payment - List",
        "operationId": "1d19c7b8e7e454a2fefb2e9dd635fce8",
        "parameters": [
          {
            "name": "job_partner_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated payment list.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/JsonEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Payment"
                          }
                        },
                        "meta": {
                          "$ref": "#/components/schemas/PaginationMeta"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Payment"
        ],
        "summary": "Payment - Record",
        "description": "Record a received sponsor payment (check/ACH/wire/manual) and apply it across invoices. Body: job_partner_id*, amount*, method*, applications (array of {invoice_id, amount}; sum must be ≤ amount; any remainder becomes on-account credit), received_at, notes.",
        "operationId": "0b8921ca57345f8a6b0e28357af52cad",
        "responses": {
          "201": {
            "description": "Recorded payment.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/JsonEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Payment"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/billing/payouts": {
      "get": {
        "tags": [
          "Payout"
        ],
        "summary": "Payout - List",
        "operationId": "033df7bba98a853d0b63d18223b2633c",
        "parameters": [
          {
            "name": "publisher_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "pending",
                "in_transit",
                "paid",
                "failed",
                "returned",
                "on_hold"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated payout list.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/JsonEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Payout"
                          }
                        },
                        "meta": {
                          "$ref": "#/components/schemas/PaginationMeta"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/billing/payouts/{id}": {
      "get": {
        "tags": [
          "Payout"
        ],
        "summary": "Payout - Detail",
        "operationId": "1c01719ab2d5c8630d3fa3c83a3c6d13",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payout + line items.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/JsonEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "allOf": [
                            {
                              "$ref": "#/components/schemas/Payout"
                            },
                            {
                              "properties": {
                                "line_items": {
                                  "type": "array",
                                  "items": {
                                    "type": "object"
                                  }
                                }
                              },
                              "type": "object"
                            }
                          ]
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/billing/payouts/{id}/issue": {
      "post": {
        "tags": [
          "Payout"
        ],
        "summary": "Payout - Issue",
        "description": "Draft → pending: queues the transfer and posts the publisher ledger credit (earnings recognized). The actual bank transfer runs through the gateway once wired.",
        "operationId": "ff28e27d1ad2aeb9062706bd11fe5a53",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Issued payout.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/JsonEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Payout"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Not a draft.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/billing/payouts/{id}/hold": {
      "post": {
        "tags": [
          "Payout"
        ],
        "summary": "Payout - Hold",
        "description": "Pause a draft/pending payout so the transfer worker skips it. Does not change the ledger (we still owe it) — just delays sending.",
        "operationId": "ad27e896f637fedf8b697b64d78c6bd7",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Held payout.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/JsonEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Payout"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Not holdable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/billing/payouts/{id}/release": {
      "post": {
        "tags": [
          "Payout"
        ],
        "summary": "Payout - Release",
        "description": "Un-hold a payout. Returns to pending if it was already issued (a ledger credit exists), else back to draft for re-issue.",
        "operationId": "afe5e54a57803efff9c4f63ea848600c",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Released payout.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/JsonEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Payout"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Not on hold.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/billing/publishers/{pub}/balance": {
      "get": {
        "tags": [
          "Payout"
        ],
        "summary": "Payout - Publisher Balance",
        "description": "Publisher AP balance from the ledger (committed-but-unsettled payouts + adjustments). Positive = we owe them.",
        "operationId": "f57626d35b949df8c623069ec0a94813",
        "parameters": [
          {
            "name": "pub",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Balance.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/JsonEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "properties": {
                            "publisher_id": {
                              "type": "integer"
                            },
                            "balance": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/billing/sponsor-profiles": {
      "get": {
        "tags": [
          "Billing Profile"
        ],
        "summary": "Billing Profile - List Sponsors",
        "operationId": "ffdb5e0ffe7833af8efe1c1c8f1160bc",
        "responses": {
          "200": {
            "description": "Sponsor billing profiles.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/billing/sponsor-profiles/{partner}": {
      "get": {
        "tags": [
          "Billing Profile"
        ],
        "summary": "Billing Profile - Sponsor Detail",
        "operationId": "8e92dbbded8dc556fe5df5638c3300a2",
        "parameters": [
          {
            "name": "partner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonEnvelope"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Billing Profile"
        ],
        "summary": "Billing Profile - Upsert Sponsor",
        "description": "Create or update. Body: billing_mode* (invoice|auto_charge); invoice mode requires payment_terms_days, auto_charge requires billing_anchor_day (1-28); plus billing_email, currency, tax_exempt, tax_rate, status.",
        "operationId": "3c0cb5ba2752ee060d8e2b7d6af12190",
        "parameters": [
          {
            "name": "partner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Upserted profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Validation failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/billing/sponsor-profiles/{partner}/payment-methods": {
      "get": {
        "tags": [
          "Billing Profile"
        ],
        "summary": "Billing Profile - Sponsor Payment Methods",
        "operationId": "6e74596ee74bd9666d3967ee64ef8c4f",
        "parameters": [
          {
            "name": "partner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tokenized methods (display metadata only — no PAN).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/billing/payout-profiles": {
      "get": {
        "tags": [
          "Billing Profile"
        ],
        "summary": "Billing Profile - List Payout",
        "operationId": "d3c7c810f6d495a0afba5956e46b7814",
        "responses": {
          "200": {
            "description": "Payout profiles.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/billing/payout-profiles/{publisher}": {
      "get": {
        "tags": [
          "Billing Profile"
        ],
        "summary": "Billing Profile - Payout Detail",
        "operationId": "d069ea53f9b64afc139f2146cf157c27",
        "parameters": [
          {
            "name": "publisher",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonEnvelope"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Billing Profile"
        ],
        "summary": "Billing Profile - Upsert Payout",
        "description": "Create or update. Body: payout_method (ach|check|wire), minimum_payout, payout_schedule (monthly|weekly), on_hold, currency, status. Bank tokens are set via hosted-field tokenization, not here.",
        "operationId": "df9b4e259840f2fc7b4441456034f786",
        "parameters": [
          {
            "name": "publisher",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Upserted profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Validation failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/campaigns": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "Campaign - List",
        "operationId": "6e689f52604f2f180a0acc1aa53ca779",
        "parameters": [
          {
            "name": "provider_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "active",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "paused",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "budget_type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "daily",
                "monthly",
                "flight",
                "unlimited"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "date_created",
                "date_updated",
                "active",
                "paused",
                "budget",
                "default_cpc",
                "budget_type",
                "start_date",
                "end_date"
              ]
            }
          },
          {
            "name": "direction",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "desc",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated campaign list.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/JsonEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Campaign"
                          }
                        },
                        "meta": {
                          "$ref": "#/components/schemas/PaginationMeta"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Campaign"
        ],
        "summary": "Campaign - Create",
        "description": "Required: job_provider_id, name, budget_type. Conditional: budget (required unless budget_type=unlimited); start_date + end_date (required when budget_type=flight, forbidden otherwise). API-level validation runs first so callers get clean error messages instead of raw DB constraint violations.",
        "operationId": "2a6b97bffc8cb4db68a954b8c8d2def4",
        "responses": {
          "201": {
            "description": "Created campaign (detail shape).",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/JsonEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "allOf": [
                            {
                              "$ref": "#/components/schemas/Campaign"
                            },
                            {
                              "properties": {
                                "segments": {
                                  "type": "array",
                                  "items": {
                                    "$ref": "#/components/schemas/Segment"
                                  }
                                },
                                "spend_to_date": {
                                  "description": "Money as string — cumulative spend from click_sponsor_daily_rollup, ~5min stale.",
                                  "type": "string",
                                  "example": "0.00"
                                }
                              },
                              "type": "object"
                            }
                          ]
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/campaigns/{id}": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "Campaign - Detail",
        "operationId": "db54c0821ed5dc49659f1df94a1b6f5d",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign detail — list-row fields + segments + spend_to_date.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/JsonEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "allOf": [
                            {
                              "$ref": "#/components/schemas/Campaign"
                            },
                            {
                              "properties": {
                                "segments": {
                                  "type": "array",
                                  "items": {
                                    "$ref": "#/components/schemas/Segment"
                                  }
                                },
                                "spend_to_date": {
                                  "type": "string",
                                  "example": "4211.55"
                                }
                              },
                              "type": "object"
                            }
                          ]
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonEnvelope"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Campaign"
        ],
        "summary": "Campaign - Deactivate",
        "operationId": "90602b67fb0f37ee8bff182cf0e18f57",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deactivated campaign (detail shape).",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/JsonEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "allOf": [
                            {
                              "$ref": "#/components/schemas/Campaign"
                            },
                            {
                              "properties": {
                                "segments": {
                                  "type": "array",
                                  "items": {
                                    "$ref": "#/components/schemas/Segment"
                                  }
                                },
                                "spend_to_date": {
                                  "type": "string",
                                  "example": "4211.55"
                                }
                              },
                              "type": "object"
                            }
                          ]
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Campaign"
        ],
        "summary": "Campaign - Update",
        "description": "Partial update — config fields only. Mutable: job_provider_id, name, test_mode, promotional, organic, budget_type, pricing_model, budget, default_cpc, start_date, end_date. job_provider_id re-parents the campaign (target must exist); pricing_model is cpc|cpa. Use action endpoints for pause/resume/delete. Same conditional validation as create (flight requires dates; unlimited forbids budget).",
        "operationId": "282579c0e519451a394a1536bb379597",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated campaign (detail shape).",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/JsonEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "allOf": [
                            {
                              "$ref": "#/components/schemas/Campaign"
                            },
                            {
                              "properties": {
                                "segments": {
                                  "type": "array",
                                  "items": {
                                    "$ref": "#/components/schemas/Segment"
                                  }
                                },
                                "spend_to_date": {
                                  "type": "string",
                                  "example": "4211.55"
                                }
                              },
                              "type": "object"
                            }
                          ]
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Validation failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/campaigns/{id}/pause": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "summary": "Campaign - Pause",
        "operationId": "eec90e0221216792469c0bbbeb3608c2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paused campaign (detail shape).",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/JsonEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "allOf": [
                            {
                              "$ref": "#/components/schemas/Campaign"
                            },
                            {
                              "properties": {
                                "segments": {
                                  "type": "array",
                                  "items": {
                                    "$ref": "#/components/schemas/Segment"
                                  }
                                },
                                "spend_to_date": {
                                  "type": "string",
                                  "example": "4211.55"
                                }
                              },
                              "type": "object"
                            }
                          ]
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/campaigns/{id}/resume": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "summary": "Campaign - Resume",
        "operationId": "403c2fb394d04446c8434eb52b200104",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resumed campaign (detail shape).",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/JsonEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "allOf": [
                            {
                              "$ref": "#/components/schemas/Campaign"
                            },
                            {
                              "properties": {
                                "segments": {
                                  "type": "array",
                                  "items": {
                                    "$ref": "#/components/schemas/Segment"
                                  }
                                },
                                "spend_to_date": {
                                  "type": "string",
                                  "example": "4211.55"
                                }
                              },
                              "type": "object"
                            }
                          ]
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/campaigns/{id}/segments": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "Campaign - List Segments",
        "description": "Paginated. Realistic sets are small (a handful per campaign), but the meta block is included for shape consistency with every other list endpoint on this surface.",
        "operationId": "4551d9ad0da47d2306919281b3e9126c",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "date_created",
                "bid_low",
                "bid_high",
                "active"
              ]
            }
          },
          {
            "name": "direction",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "desc",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated segment list.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/JsonEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Segment"
                          }
                        },
                        "meta": {
                          "$ref": "#/components/schemas/PaginationMeta"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Campaign"
        ],
        "summary": "Campaign - Create Segment",
        "description": "Body: name*, criteria* (JSONB), bid_low*, bid_high*, prefer_high_bid. CPA campaigns also accept conversion_rate_assumed, effective_cpc_override, observation_tuning_enabled; conversion_rate_working is seeded from the assumed rate. On a CPA campaign, bid_low/bid_high are denominated in CPA dollars.",
        "operationId": "a66b0c7e2a6465c5b49fa44c36ddab66",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created segment.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/JsonEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Segment"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/consent-documents": {
      "get": {
        "tags": [
          "Consent"
        ],
        "summary": "Consent - List",
        "description": "Paginated list of consent documents (newest first). Optional `consent_type` filter. body_html is omitted here (it can be large) — fetch a single document for the full body.",
        "operationId": "5184951937c5fcd4aee6f8856015a205",
        "parameters": [
          {
            "name": "consent_type",
            "in": "query",
            "description": "Filter to one type, e.g. terms_of_service.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "date_created",
                "consent_type",
                "version",
                "active"
              ]
            }
          },
          {
            "name": "direction",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "desc",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list (body_html omitted).",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/JsonEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ConsentDocument"
                          }
                        },
                        "meta": {
                          "$ref": "#/components/schemas/PaginationMeta"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Consent"
        ],
        "summary": "Consent - Publish Version",
        "description": "Publishes a NEW consent-document version (the table is immutable; this is how you \"edit\"). When active=true (default), the prior active document of the same consent_type + offer_id is deactivated so exactly one stays live. body_html holds plain text or HTML. partners is an optional JSON snapshot of disclosed partners (TCPA).",
        "operationId": "95f269cf291c559af4e38fd8acc2d839",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "consent_type",
                  "version",
                  "body_html"
                ],
                "properties": {
                  "consent_type": {
                    "type": "string",
                    "example": "terms_of_service",
                    "maxLength": 32
                  },
                  "version": {
                    "type": "string",
                    "example": "2026-08-18",
                    "maxLength": 32
                  },
                  "body_html": {
                    "type": "string"
                  },
                  "offer_id": {
                    "description": "Only for offer-specific consents; null for site-level.",
                    "type": "integer",
                    "nullable": true
                  },
                  "sms_disclosure": {
                    "type": "string",
                    "nullable": true
                  },
                  "partners": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    },
                    "nullable": true
                  },
                  "active": {
                    "type": "boolean",
                    "default": true
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "New version published.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/JsonEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ConsentDocument"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/consent-documents/{id}": {
      "get": {
        "tags": [
          "Consent"
        ],
        "summary": "Consent - Display",
        "description": "Full document including body_html, partners snapshot, and sms_disclosure.",
        "operationId": "76832ef5f0afd1016f4408c92b9c76bd",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Full consent document.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/JsonEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ConsentDocument"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/consent-documents/{id}/deactivate": {
      "post": {
        "tags": [
          "Consent"
        ],
        "summary": "Consent - Deactivate",
        "description": "Sets active=false on a consent document (e.g. retiring a type without publishing a replacement). Idempotent.",
        "operationId": "afa2c345fb989c29d1ddb40150a198c0",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deactivated document.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/JsonEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ConsentDocument"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/dashboard": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Dashboard - Get",
        "description": "Aggregate for the admin landing screen. Single call — one HTTP request per dashboard render. Cached 60s. Blocks degrade individually on source failure (Solr down → jobs.indexed_total = 0; PG hiccup on one query → that block's counts drop to 0). Endpoint never 500s.",
        "operationId": "43d1f2bb6e777c83f0b89bfeeba0f112",
        "responses": {
          "200": {
            "description": "Dashboard payload.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/JsonEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "properties": {
                            "jobs": {
                              "properties": {
                                "indexed_total": {
                                  "type": "integer"
                                },
                                "providers_active": {
                                  "type": "integer"
                                },
                                "providers_paused": {
                                  "type": "integer"
                                }
                              },
                              "type": "object"
                            },
                            "campaigns": {
                              "properties": {
                                "live": {
                                  "type": "integer"
                                },
                                "paused": {
                                  "type": "integer"
                                },
                                "budget_cache": {
                                  "type": "object"
                                }
                              },
                              "type": "object"
                            },
                            "clicks_today": {
                              "properties": {
                                "total": {
                                  "type": "integer"
                                },
                                "billable": {
                                  "type": "integer"
                                },
                                "bot": {
                                  "type": "integer"
                                },
                                "duplicate": {
                                  "type": "integer"
                                },
                                "spend": {
                                  "type": "string",
                                  "example": "4211.55"
                                }
                              },
                              "type": "object"
                            },
                            "leads_today": {
                              "properties": {
                                "submitted": {
                                  "type": "integer"
                                },
                                "delivered": {
                                  "type": "integer"
                                }
                              },
                              "type": "object"
                            },
                            "feeds": {
                              "properties": {
                                "last_run_completed": {
                                  "type": "string",
                                  "format": "date-time",
                                  "nullable": true
                                },
                                "runs_active": {
                                  "type": "integer"
                                }
                              },
                              "type": "object"
                            },
                            "notifications": {
                              "description": "Shared inbox summary for the login badge (~60s cached; the /notifications endpoint is real-time).",
                              "properties": {
                                "open_count": {
                                  "type": "integer"
                                },
                                "actionable_count": {
                                  "description": "open + acknowledged",
                                  "type": "integer"
                                },
                                "critical_count": {
                                  "type": "integer"
                                },
                                "recent": {
                                  "type": "array",
                                  "items": {
                                    "$ref": "#/components/schemas/Notification"
                                  }
                                }
                              },
                              "type": "object"
                            }
                          },
                          "type": "object"
                        },
                        "meta": {
                          "properties": {
                            "generated_at": {
                              "type": "string",
                              "format": "date-time"
                            }
                          },
                          "type": "object"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/feed-runs": {
      "get": {
        "tags": [
          "Feed Run"
        ],
        "summary": "Feed Run - List",
        "description": "Paginated. Filters: provider_id, since (ISO date). Ordered by time_started DESC.",
        "operationId": "08e2d2824a5c476a1d283cbffd6d7600",
        "parameters": [
          {
            "name": "provider_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "since",
            "in": "query",
            "description": "ISO 8601 timestamp lower bound on time_started.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "run_id",
                "time_started",
                "time_processing_finished",
                "workers_active",
                "total_jobs_in_file"
              ]
            }
          },
          {
            "name": "direction",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "desc",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated run list.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/JsonEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/RunInfo"
                          }
                        },
                        "meta": {
                          "$ref": "#/components/schemas/PaginationMeta"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/feed-runs/{run_id}": {
      "get": {
        "tags": [
          "Feed Run"
        ],
        "summary": "Feed Run - Detail",
        "operationId": "c53f905c5407d76f9b4b2ddc65f77c3e",
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Run detail.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/JsonEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RunInfo"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Health - Admin Liveness",
        "description": "Unauthenticated. Returns ok=true if the admin module is loaded and the response pipeline is healthy. Wire into LB health checks. Does NOT exercise downstream dependencies (DB, Solr, Memcached) — keep those out so a failing dependency doesn't cycle the LB target.",
        "operationId": "5186a3cfe237fb5e6f51a135ec9135de",
        "responses": {
          "200": {
            "description": "Module is up.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/JsonEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "required": [
                            "ok"
                          ],
                          "properties": {
                            "ok": {
                              "type": "boolean",
                              "example": true
                            }
                          },
                          "type": "object"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/lookups": {
      "get": {
        "tags": [
          "Lookup"
        ],
        "summary": "Lookup - Aggregate",
        "description": "Admin form-population lookups (single aggregate). One call returns campaign_budget_types, job_partners, work_types, and job_groups. Cached ~5min in Memcached. Use for admin SPA form dropdowns.",
        "operationId": "ccc1a5900eb7dcb0e9576e022724d257",
        "responses": {
          "200": {
            "description": "Lookups payload — full aggregate.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/JsonEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Lookups"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/me": {
      "get": {
        "tags": [
          "Me"
        ],
        "summary": "Me - Get Profile",
        "description": "Returns the profile fields for the admin identified by the session cookie. Same shape as the login response. The admin_user_id comes from the session, NOT the URL — an admin can never read another admin's profile via this endpoint.",
        "operationId": "efe617a0ea26d2f8127787fab7bac6c5",
        "responses": {
          "200": {
            "description": "Current admin profile.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/JsonEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "properties": {
                            "user_id": {
                              "type": "integer",
                              "format": "int64"
                            },
                            "username": {
                              "type": "string"
                            },
                            "first_name": {
                              "type": "string",
                              "nullable": true
                            },
                            "last_name": {
                              "type": "string",
                              "nullable": true
                            },
                            "email": {
                              "type": "string",
                              "format": "email"
                            },
                            "role": {
                              "type": "string",
                              "example": "admin"
                            },
                            "date_created": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "date_last_login": {
                              "type": "string",
                              "format": "date-time",
                              "nullable": true
                            }
                          },
                          "type": "object"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "No valid session cookie, OR session's admin_user_id no longer maps to an active admin.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/notifications": {
      "get": {
        "tags": [
          "Notification"
        ],
        "summary": "Notification - List",
        "description": "Filters: status, severity, type. Defaults to actionable (open + acknowledged) newest-activity-first when no status is given.",
        "operationId": "72aad34ebe702cb8ad9e1bfe19efe8d3",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "acknowledged",
                "resolved",
                "dismissed",
                "actionable"
              ]
            }
          },
          {
            "name": "severity",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "info",
                "warning",
                "critical"
              ]
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated notifications.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/JsonEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Notification"
                          }
                        },
                        "meta": {
                          "$ref": "#/components/schemas/PaginationMeta"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/notifications/{id}": {
      "get": {
        "tags": [
          "Notification"
        ],
        "summary": "Notification - Detail",
        "operationId": "42f6257fdc90a061d0ed42d4f01d76ea",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
[...]
